@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 20px;
  font-family: "Noto Sans TC", "微軟正黑體", Arial, Helvetica, sans-serif !important;
  font-weight: 400;
  overscroll-behavior: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}
html.pwa,
body.pwa {
  overflow: hidden;
}
@media screen and (max-width: 1441px) {
  html,
body {
    font-size: 14px;
  }
}

body {
  scroll-behavior: smooth;
  color: #000;
}

* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.flex.column {
  -ms-flex-direction: column;
      flex-direction: column;
}
.flex.center {
  -ms-flex-pack: center;
      justify-content: center;
}
.flex.space_around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.flex.flex_start {
  -ms-flex-pack: start;
      justify-content: flex-start;
}
.flex.flex_end {
  -ms-flex-pack: end;
      justify-content: flex-end;
}
.flex.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.flex.reverse {
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}
.flex.align_top {
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
}
.flex.align_end {
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -ms-flex-align: end;
      align-items: flex-end;
}

.wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
@media screen and (max-width: 1441px) {
  .wrapper {
    padding: 0 20px;
  }
}

section h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.text_black {
  color: #000;
}

.text_white {
  color: #FFF;
}

.text_orange {
  color: #FF7316;
}

.text_yellow {
  color: #FEC500;
}

.bg_black {
  background-color: #000;
}

.bg_white {
  background-color: #FFF;
}

.bg_orange {
  background-color: #FF7316;
}

.bg_yellow {
  background-color: #FEC500;
}

.bg_grey {
  background-color: #A8A8A8;
}

.fz14 {
  font-size: 0.7rem;
}

.fz16 {
  font-size: 0.8rem;
}

.fz24 {
  font-size: 1.2rem;
}

.fz30 {
  font-size: 1.5rem;
}

.fz80 {
  font-size: 4rem;
}

.fw_black {
  font-weight: 900;
}

.fw_bold {
  font-weight: 700;
}

.fw_regular {
  font-weight: 400;
}

.fw_semibold {
  font-weight: 600;
}

.noto_sans {
  font-family: "Noto Sans TC", "微軟正黑體";
}

.noto_serif {
  font-family: "Noto Serif TC", "微軟正黑體";
}

.open_sans {
  font-family: "Open Sans", sans-serif;
}

.side_orange {
  position: relative;
  padding-left: 0.75rem;
  line-height: 1.333em;
}
.side_orange::before {
  content: "";
  width: 5px;
  height: 100%;
  background: #FF7316;
  position: absolute;
  left: 0;
  top: 0;
}

.break2line {
  margin-bottom: 2rem !important;
}

.btn {
  font-size: 0.7rem;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 2rem;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.16);
  background: #FFF;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  color: inherit;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.btn:hover {
  color: #FFF;
  background: transparent;
}
.btn:hover::before {
  transform: scaleX(1);
}
.btn:hover::after {
  background: url("../images/arrow_active.png") center center no-repeat;
}
.btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 110%;
  background: #000;
  left: 0;
  top: 0;
  transform: scaleX(0);
  transition: all 0.3s;
  transform-origin: left center;
}
.btn.down::after {
  transform: rotateZ(90deg);
}
.btn::after {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../images/arrow.png") center center no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.6rem;
  margin-top: -0.1rem;
}

.firstview {
  height: 100vh;
  background: url("../images/firstview.png") center center no-repeat;
  background-size: cover;
  position: relative;
}
.firstview .wrapper {
  height: 100%;
}
.firstview .logo {
  width: 19.06%;
  position: absolute;
  left: 168px;
  top: 67px;
}
.firstview .logo img {
  width: 100%;
}
.firstview .word_container {
  max-width: 57.68%;
}
.firstview .word_container p {
  margin-bottom: 1rem;
}
.firstview .word_container p.fz80 {
  white-space: nowrap;
}
.firstview .word_container .fz16 {
  line-height: 1.75em;
}

.map {
  min-height: 2vh;
  background: url("../images/map.png") center top no-repeat;
  background-size: 100%;
  position: relative;
  z-index: 0;
}
.map.showPoint::before {
  opacity: 1;
}
.map::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../images/location.png") center top no-repeat;
  background-size: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s 0.5s;
}
.map .block {
  position: relative;
  z-index: 2;
}
.map .block .left {
  position: relative;
  z-index: 2;
}
.map .block .left .student_body {
  margin: 1.5rem 0 1rem;
  border-bottom: 1px solid #D6D6D6;
  padding-bottom: 1.5rem;
}
.map .block .left .student_body > p {
  line-height: 1.5em;
}
.map .block .left .student_body > div {
  font-size: 2.6rem;
  position: relative;
  padding: 0 1.5rem;
}
.map .block .left .student_body > div span {
  font-size: 0.75rem;
  font-weight: 700;
  display: block;
  margin-top: 0.5rem;
}
.map .block .left .student_body .students {
  border-right: 1px solid #D6D6D6;
}
.map .block .left .student_body .students > p::after {
  content: "%";
  font-size: 0.7em;
  position: absolute;
  top: 0;
}
.map .block .left .student_body .regions {
  text-align: center;
}
.map .block .left .student_body .regions > p::after {
  content: "+";
  font-size: 0.7em;
  position: absolute;
  top: 0;
}
.map .block .left .country {
  height: 8rem;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
@media screen and (max-width: 1441px) {
  .map .block .left .country {
    height: 11rem;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
}
.map .block .left .country .state {
  width: 12rem;
  margin-right: 2rem;
}
.map .block .left .country .state.wide {
  width: 14rem;
}
.map .block .left .country .state span {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.map .block .left .country .state p {
  font-size: 0.7rem;
  line-height: 1.42em;
}
.map .block .left .word {
  margin-top: 1.5rem;
}
.map .block .left .word p {
  line-height: 1.75em;
}
.map .block .right {
  margin-right: 6.25%;
  margin-left: 20%;
}
.map .block .right .video {
  width: 17.75rem;
  height: 10rem;
  position: relative;
  cursor: pointer;
  margin-bottom: 1.5rem;
}
.map .block .right .video::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 70%, black 100%);
}
.map .block .right .video:hover .play {
  background: #FFF;
  transform: scale(1.1);
}
.map .block .right .video:hover .play::before {
  border-color: transparent transparent transparent #000;
}
.map .block .right .video img {
  width: 100%;
  height: 100%;
}
.map .block .right .video .play {
  width: 40px;
  height: 40px;
  border: 3px solid #FFF;
  border-radius: 50%;
  position: absolute;
  left: 24px;
  top: 24px;
  transition: all 0.2s;
}
.map .block .right .video .play::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 11px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  left: 13px;
  top: 10px;
}
.map .block .right .video p {
  color: #FFF;
  position: absolute;
  font-size: 0.65rem;
  left: 24px;
  bottom: 24px;
}
.map .block.block2 {
  margin-top: 8rem;
  padding-top: 10rem;
  position: relative;
}
.map .block.block2 .left {
  width: 60%;
  max-width: 618px;
}
.map .block.block2 .left h1 a {
  margin-left: 2.5rem;
  margin-top: -1rem;
}
.map .block.block2 .left .word {
  width: 75%;
}
.map .block.block2 .right {
  width: 20.8rem;
  margin-left: 0;
  margin-right: 0;
}
.map .block.block2 .right .chart {
  width: 20.8rem;
  position: relative;
}
.map .block.block2 .right .chart img {
  width: 100%;
}
.map .block.block2 .right .chart > .big {
  position: absolute;
  right: 15%;
  top: 50%;
  color: #FFF;
  font-size: 0.6rem;
  text-align: center;
}
@media screen and (max-width: 1441px) {
  .map .block.block2 .right .chart > .big {
    right: 10%;
    top: 53%;
  }
}
.map .block.block2 .right .chart > .big p {
  margin-bottom: 0.4rem;
}
.map .block.block2 .right .chart > .big p span {
  font-size: 3rem;
}
.map .block.block2 .right .chart > .big p span.small {
  font-size: 0.9rem;
  margin-left: 2px;
  letter-spacing: 2px;
}
.map .block.block2 .right .chart > .small {
  position: absolute;
  left: 12%;
  top: 30%;
  color: #6C8DD3;
  font-size: 0.6rem;
  text-align: center;
}
@media screen and (max-width: 1441px) {
  .map .block.block2 .right .chart > .small {
    left: 8%;
  }
}
.map .block.block2 .right .chart > .small p {
  margin-bottom: 0.4rem;
}
.map .block.block2 .right .chart > .small p span {
  font-size: 3rem;
}
.map .block.block2 .right .chart > .small p span.small {
  font-size: 0.9rem;
  margin-left: 2px;
  letter-spacing: 2px;
}
.map .block.block2 .right .figure {
  color: #707070;
  font-size: 0.6rem;
  margin-top: 1rem;
}
.map .block.block2 .right .figure::before {
  content: "";
  display: block;
  margin: 0 auto 0.5rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 3px 6px 3px;
  border-color: transparent transparent #707070 transparent;
}
.map .block.block2::before {
  content: "";
  width: 35.93%;
  height: 100%;
  position: absolute;
  left: 9rem;
  top: 0;
  background: rgba(246, 246, 246, 0.3);
  z-index: 1;
}
.map .block.block2 .slideContainer {
  position: relative;
  width: 100%;
  z-index: 10;
  margin: 2.5rem auto;
}
.map .block.block2 .slideContainer .pager {
  position: absolute;
  width: 50.75rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  bottom: 0;
  color: #000;
}
.map .block.block2 .slideContainer .pager .total::before {
  content: "";
  width: 2rem;
  background: #707070;
  height: 1px;
  display: inline-block;
  vertical-align: middle;
  margin: -3px 0.5rem 0 0.3rem;
}
.map .block.block2 .slideContainer .slide_titles {
  position: absolute;
  width: 50.75rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  top: 21%;
}
.map .block.block2 .slideContainer .slide_titles p {
  opacity: 0;
  transform: translateY(1.5em);
  visibility: hidden;
  font-family: "Noto Serif TC", "微軟正黑體";
  font-size: 2rem;
  font-weight: 700;
  position: absolute;
  top: 0;
}
.map .block.block2 .slideContainer .slide_titles p.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: all 0.3s;
}
.map .block.block2 .slideContainer .slide_content {
  position: absolute;
  width: 50.75rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  top: 40.5%;
}
.map .block.block2 .slideContainer .slide_content ul {
  opacity: 0;
  transform: translateX(100px);
  visibility: hidden;
  font-size: 0.7rem;
  font-weight: 400;
  position: absolute;
  top: 0;
  color: #FFF;
  line-height: 2em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
  height: 11rem;
  padding-left: 2rem;
  list-style-type: disc;
}
.map .block.block2 .slideContainer .slide_content ul.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: all 0.3s;
}
.map .block.block2 .slideContainer .slides {
  text-align: center;
  margin: 0 auto;
  width: 50.75rem;
  position: relative;
}
.map .block.block2 .slideContainer .slides .slick-arrow {
  position: absolute;
  bottom: 1.5rem;
  right: 2rem;
  border: none;
  background: none;
  color: transparent;
  background: url("../images/slide_arrow.png") center center no-repeat;
}
.map .block.block2 .slideContainer .slides .slick-arrow.slick-prev {
  transform: rotateZ(-180deg);
  z-index: 1000;
  right: 6rem;
}
.map .block.block2 .slideContainer .slides .slick-arrow.slick-next::before {
  content: "";
  width: 1px;
  height: 18px;
  background: #FFF;
  position: absolute;
  left: -1.1rem;
  margin-top: -0.05rem;
}
.map .block.block2 .slideContainer .slides .slide {
  height: 21.1rem;
  text-align: right;
  overflow: hidden;
}
.map .block.block2 .slideContainer .slides .slide img {
  height: 100%;
}

.awards {
  background: url("../images/bg2.png") left top no-repeat;
  background-size: 100% 100%;
  position: relative;
  height: 100vh;
  margin-top: 8rem;
}
.awards .wrapper {
  height: 100%;
}
.awards .block {
  width: 50%;
  height: 100%;
}
.awards .block .word {
  margin-top: 1.1rem;
  width: 28rem;
}
.awards .block .word p {
  line-height: 1.75em;
}
.awards .block .award_imgs .award {
  margin-right: 1.2rem;
  display: inline-block;
  vertical-align: top;
  margin-top: 1rem;
}
.awards .block .award_imgs .crown {
  margin-bottom: 1rem;
}
.awards .block .award_imgs .crown.mt {
  margin-top: 2rem;
}
.awards .img {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  overflow: hidden;
}
.awards .img img {
  height: 100%;
}

.inspire .wrapper {
  padding: 10rem 0;
}
@media screen and (max-width: 1441px) {
  .inspire .wrapper {
    padding: 10rem 10%;
  }
}
.inspire .left {
  width: 55%;
}
.inspire .left > .fw_black {
  white-space: nowrap;
}
.inspire .right {
  width: 45%;
  overflow: hidden;
}
.inspire .right img {
  width: 100%;
}
.inspire .lists {
  width: 90%;
  margin-bottom: 1.5rem;
}
.inspire .lists .list {
  padding: 1.1rem 0 1.1rem 3rem;
  border-bottom: 0.5px solid #707070;
  position: relative;
}
.inspire .lists .list:last-child {
  border-bottom-width: 3px;
}
.inspire .lists .list::before {
  content: "";
  width: 64px;
  height: 64px;
  position: absolute;
  left: 0;
  margin-top: 2px;
}
@media screen and (max-width: 1441px) {
  .inspire .lists .list::before {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    left: -6px;
    margin-top: -6px;
  }
}
.inspire .lists .list.icon_guard::before {
  background: url("../images/icon_guard.png") center center no-repeat;
  background-size: contain;
}
.inspire .lists .list.icon_battery::before {
  background: url("../images/icon_battery.png") center center no-repeat;
  background-size: contain;
}
.inspire .lists .list.icon_scale::before {
  background: url("../images/icon_scale_black.png") center center no-repeat;
  background-size: contain;
}
.inspire .lists .list.icon_user::before {
  background: url("../images/icon_user.png") center center no-repeat;
  background-size: contain;
}
.inspire .lists .list.icon_gear::before {
  background: url("../images/icon_gear.png") center center no-repeat;
  background-size: contain;
}
.inspire .lists .list.icon_paper::before {
  background: url("../images/icon_paper.png") center center no-repeat;
  background-size: contain;
}
.inspire .lists .list p {
  font-size: 0.8rem;
  white-space: nowrap;
}
.inspire .lists .list p.title {
  font-size: 1.1rem;
  margin-bottom: 0.5em;
}
.inspire .btn {
  margin-right: 1.5rem;
}

.lifeYZU .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "playground playground . ." "playground playground . ." ". lib_tree . ." ". lib_tree word word" ". . . .";
  width: 100%;
  height: 100%;
}
.lifeYZU .container div {
  overflow: hidden;
}
.lifeYZU .container div img {
  width: 100%;
  height: 100%;
}
.lifeYZU .container div h2 {
  font-size: 1.2rem;
  line-height: 1.5em;
  text-align: center;
  font-weight: 900;
}
.lifeYZU .container div h3 {
  font-size: 0.7rem;
  line-height: 1rem;
  text-align: center;
}
.lifeYZU .lib_tree {
  grid-area: lib_tree;
}
.lifeYZU .playground {
  grid-area: playground;
  position: relative;
}
.lifeYZU .playground p {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 5rem;
  line-height: 6rem;
  color: #FFF;
  font-weight: 900;
}
.lifeYZU .word {
  grid-area: word;
}
@media all and (-ms-high-contrast: none) {
  .lifeYZU .container {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  .lifeYZU .lib_tree {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }
  .lifeYZU .playground {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .lifeYZU .word {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
  }
}

.dormitory {
  padding: 9.5rem 0 7.5rem;
}
@media screen and (max-width: 1441px) {
  .dormitory {
    padding: 9.5rem 10% 7.5rem;
  }
}
.dormitory .margin {
  margin: 1rem 0 1.5rem;
}
.dormitory .imgs .img {
  margin: 0 0.5rem;
  overflow: hidden;
}
.dormitory .imgs .img:first-child {
  margin-left: 0;
}
.dormitory .imgs .img:last-child {
  margin-right: 0;
}
.dormitory .img {
  width: 100%;
  -ms-flex-positive: 1;
      flex-grow: 1;
  margin: 0 0 1rem;
  overflow: hidden;
}
.dormitory .img img {
  width: 100%;
}

.photowall {
  width: 100%;
  position: relative;
}
.photowall .container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". . . ." ". . . ." ". . . ." ". . . .";
  width: 100%;
  height: 100%;
}
.photowall .container h1 {
  font-size: 5rem;
  color: #FFF;
  line-height: 6rem;
  font-weight: 700;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media all and (-ms-high-contrast: none) {
  .photowall .container {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
  }
}
.photowall div {
  width: 100%;
  height: 100%;
}
.photowall div img {
  width: 101%;
  height: 101%;
}
.photowall .videos {
  height: 18rem;
  overflow: hidden;
}
.photowall .videos .video {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}
.photowall .videos .video::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 70%, black 100%);
}
.photowall .videos .video:hover .play {
  background: #FFF;
  transform: scale(1.1);
}
.photowall .videos .video:hover .play::before {
  border-color: transparent transparent transparent #000;
}
.photowall .videos .video img {
  width: 101%;
  height: 101%;
}
.photowall .videos .video .play {
  width: 40px;
  height: 40px;
  border: 3px solid #FFF;
  border-radius: 50%;
  position: absolute;
  left: 24px;
  top: 24px;
  transition: all 0.2s;
}
.photowall .videos .video .play::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 11px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  left: 13px;
  top: 10px;
}
.photowall .videos .video p {
  color: #FFF;
  position: absolute;
  font-size: 0.65rem;
  left: 24px;
  bottom: 24px;
}

.gsa {
  padding: 10rem 0 7.2rem;
  background: url("../images/bg3.png") center top no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1441px) {
  .gsa {
    padding: 10rem 10% 7.2rem;
  }
}
.gsa h1 a {
  margin-left: 2.5rem;
  margin-top: -1rem;
}
.gsa .lists {
  width: 100%;
  margin-top: 1.4rem;
  margin-bottom: 2rem;
}
.gsa .lists .list {
  position: relative;
  padding-left: calc(46px + 1rem);
  -ms-flex-positive: 1;
      flex-grow: 1;
  width: 50%;
  margin-bottom: 1.8rem;
}
.gsa .lists .list::before {
  content: "";
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  position: absolute;
  left: 0;
}
.gsa .lists .list.icon_scale::before {
  background: url("../images/icon_scale.png") #FF7316 center center no-repeat;
}
.gsa .lists .list.icon_web::before {
  background: url("../images/icon_web.png") #FF7316 center center no-repeat;
}
.gsa .lists .list.icon_speaker::before {
  background: url("../images/icon_speaker.png") #FF7316 center center no-repeat;
}
.gsa .lists .list.icon_camera::before {
  background: url("../images/icon_camera.png") #FF7316 center center no-repeat;
}
.gsa .lists .list p {
  font-size: 0.8rem;
  line-height: 1.4rem;
}
.gsa .lists .list p.title {
  font-size: 1.2rem;
  margin-bottom: 0.2em;
}
.gsa .photos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0.4rem 0.4rem;
  grid-auto-flow: row;
  grid-template-areas: "photo1 photo1 photo1 photo1 photo2 photo2 photo3 photo3" "photo1 photo1 photo1 photo1 photo2 photo2 photo3 photo3" "photo4 photo4 photo5 photo5 photo6 photo7 photo8 photo8" "photo4 photo4 photo5 photo5 photo6 photo7 photo9 photo9";
  width: 100%;
  height: 100%;
}
.gsa .photos > div {
  overflow: hidden;
}
.gsa .photos div img {
  width: 100%;
  height: 100%;
}
.gsa .photo1 {
  grid-area: photo1;
}
.gsa .photo2 {
  grid-area: photo2;
  background: #FFF;
}
.gsa .photo3 {
  grid-area: photo3;
}
.gsa .photo4 {
  grid-area: photo4;
}
.gsa .photo5 {
  grid-area: photo5;
}
.gsa .photo6 {
  grid-area: photo6;
}
.gsa .photo7 {
  grid-area: photo7;
}
.gsa .photo8 {
  grid-area: photo8;
}
.gsa .photo9 {
  grid-area: photo9;
}
@media all and (-ms-high-contrast: none) {
  .gsa .container {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
  }
  .gsa .photo1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
  }
  .gsa .photo2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
  }
  .gsa .photo3 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 7;
    -ms-grid-column-span: 2;
  }
  .gsa .photo4 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .gsa .photo5 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
  }
  .gsa .photo6 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
  }
  .gsa .photo7 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 6;
    -ms-grid-column-span: 1;
  }
  .gsa .photo8 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 7;
    -ms-grid-column-span: 2;
  }
  .gsa .photo9 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 7;
    -ms-grid-column-span: 2;
  }
}

.apply {
  padding: 7rem 0 8.5rem;
}
.apply h1 {
  line-height: 6rem;
  text-align: center;
}
.apply a {
  display: block;
  width: 23rem;
  height: 7rem;
  background: #FF7316;
  text-align: center;
  line-height: 6.7rem;
  color: #FFF;
  font-size: 3rem;
  font-weight: 700;
  border-radius: 3.5rem;
  margin-top: 2.5rem;
  position: relative;
  overflow: hidden;
  transition: all 0.2s;
}
.apply a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  transition: all 0.2s;
  transform: scaleX(0);
  transform-origin: center left;
  left: 0;
  z-index: -1;
}
.apply a:hover {
  color: #FFF;
  background: transparent;
}
.apply a:hover::before {
  transform: scaleX(1);
}

[data-aos=rotate] {
  transform: translateX(100%) rotateZ(180deg);
  transition-property: transform;
}
[data-aos=rotate].aos-animate {
  transform: translateX(0) rotateZ(0);
}

[data-aos=imgZoom] {
  transform: scale(1.4);
  transition-property: transform;
}
[data-aos=imgZoom].aos-animate {
  transform: scale(1);
}