@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 14px;
  font-family: "微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", Verdana, Helvetica, sans-serif;
  overflow: initial !important;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:not(input) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hide {
  display: none !important;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
  text-align: center;
}

#app.unmounted {
  display: none;
}

.ci {
  padding-top: 100px;
  margin: 0 auto 50px;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.ci.mini {
  padding-top: 70px;
  margin: 0 auto 40px;
}

.ci.mini img {
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.ci.mini p {
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-top: 0;
  font-size: 35px;
}

.ci.mini p.lasttime {
  margin-top: 15px;
}

.ci p {
  font-size: 40px;
  margin-top: 30px;
}

.ci p.lasttime {
  font-size: 14px;
  line-height: 1.5em;
}

.have_data .condition {
  font-size: 20px;
  line-height: 1.5em;
}

.datas {
  width: 75%;
  margin: 0 auto;
  text-align: left;
}

.datas a {
  color: #3273dc;
  text-align: right;
  display: block;
  margin-bottom: 15px;
  margin-top: -10px;
}

.datas .input_group {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.datas .input_group label {
  width: 40%;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.datas .input_group select {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 30px;
  line-height: 30px;
}

.datas .input_group input {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 30px;
  line-height: 30px;
  margin-right: 10px;
}

.ps {
  margin: 20px auto;
  text-align: center;
  width: 75%;
  line-height: 1.5em;
}

.btn {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  white-space: nowrap;
  -webkit-appearance: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 1rem;
  height: 2.5em;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
}

.btn.unsub {
  background-color: #ef2e55;
  border-color: transparent;
  color: #fff;
  margin: 20px 15px;
}

.btn.edit {
  background-color: #48c774;
  border-color: transparent;
  color: #fff;
  margin: 20px 15px;
}

.btn.send {
  background-color: #3273dc;
  border-color: transparent;
  color: #fff;
  width: 100%;
}

.btn.is_loading {
  color: transparent !important;
  pointer-events: none;
}

.btn.is_loading:after {
  -webkit-animation: spinAround .5s infinite linear;
          animation: spinAround .5s infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
  margin: -2em auto;
}

@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes spinAround {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  padding-top: 30px;
  background: #FFF;
  -webkit-transform: scale(0.01);
          transform: scale(0.01);
  -webkit-transition: all .2s;
  transition: all .2s;
  opacity: 0;
  visibility: hidden;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.popup.show {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.popup .close {
  position: absolute;
  width: 30px;
  height: 30px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQfkAxIGHyuZ2p2cAAAA6ElEQVRIx52UsQ6CMBRFT/wvRv5CNgwQnUxc+FEGBhIlIWHQRGepi5QaW/oeb2oI5zzS3AskNFzZo52MGw0JtBgME5UKr5gwGFoYMWrFjBtGKL5HuWLBDQXA2VGcoviBt32/nh/KFV5crgjiMsUqHldE8XWFCA8rxLhfocL/FWoc4OIoltRdpPjvV6i3+xVBfBcUvJjs2fDU7nevTlozZ0rn6hZFuWV7rSw7vtioFP7YiBV5MHWu4qjHRYo8mvlVRRxfVcjwoEKOexWZurBu2TMYNvR9UQzQbfldWEUHKT13eVHslDzoST90qEu59+FPHwAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMC0wMy0xOFQwNjozMTo0MyswMDowMDgYctIAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjAtMDMtMThUMDY6MzE6NDMrMDA6MDBJRcpuAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAABJRU5ErkJggg==") center center no-repeat;
  background-size: contain;
  right: 10px;
  top: 10px;
}

.popup .step {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.5em;
}

.popup .step a {
  color: #4587ff;
}

.popup .step span {
  color: #ff5f5f;
  font-size: 1.2em;
}

.popup .step .img {
  width: 100%;
  margin: 20px 0;
}

.popup .step .img img {
  max-width: 100%;
}
