@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html, body {
  font-size: 14px;
  font-family: "微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU", Verdana, Helvetica, sans-serif;
}

body {
  background: #FFF;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 2em;
}

table td.center {
  text-align: center;
}

table td span.react {
  display: inline-block;
  vertical-align: middle;
  transform: scale(0.5);
  width: 48px;
  height: 48px;
}

table td span.react.LIKE {
  background-position: 0 -147px;
  background-image: url(../images/reaction.png);
  background-repeat: no-repeat;
  background-size: auto;
}

table td span.react.LOVE {
  background-position: 0 -196px;
  background-image: url(../images/reaction.png);
  background-repeat: no-repeat;
  background-size: auto;
}

table td span.react.HAHA {
  background-position: 0 -98px;
  background-image: url(../images/reaction.png);
  background-repeat: no-repeat;
  background-size: auto;
}

table td span.react.WOW {
  background-position: 0 -294px;
  background-image: url(../images/reaction.png);
  background-repeat: no-repeat;
  background-size: auto;
}

table td span.react.SAD {
  background-position: 0 -245px;
  background-image: url(../images/reaction.png);
  background-repeat: no-repeat;
  background-size: auto;
}

table td span.react.ANGRY {
  background-position: 0 0;
  background-image: url(../images/reaction.png);
  background-repeat: no-repeat;
  background-size: auto;
}

table td span.react.THANKFUL {
  background-position: 0 -49px;
  background-image: url(../images/reaction.png);
  background-repeat: no-repeat;
  background-size: auto;
}

.login {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: #ECEFF2;
  z-index: 100000;
  transition: all .3s;
}

.login.auth {
  width: 100%;
  height: auto;
  position: static;
}

.login.success {
  transform: translateY(-100vh);
}

.login .logo {
  width: 150px;
  margin: 0 auto;
  padding: 20px 0;
}

.login .logo img {
  width: 100%;
}

.login .area {
  width: 100%;
  text-align: center;
}

@media (max-width: 800px) {
  .login .area {
    max-width: 320px;
  }
}

.login .area .title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5em;
  color: #616182;
}

.login .area #btn_login {
  width: 320px;
  height: 60px;
  line-height: 60px;
  color: #FFF;
  font-size: 1.5rem;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  background: #4B68A3;
  text-align: center;
  margin: 20px auto;
  cursor: pointer;
  transition: all .2s ease-out;
}

.login .area #btn_login:active {
  transform: scale(0.95);
}

.login .area .readme {
  overflow: hidden;
}

.login .area .readme p {
  text-align: center;
  color: red;
  margin-bottom: 20px;
}

.login .area .qa {
  width: 650px;
  margin: 10px auto;
}

.login .area .qa article {
  margin-top: 20px;
}

.login .area .qa article a {
  color: #068e06;
}

.login .area .qa article p {
  text-align: left;
  line-height: 1.5em;
  font-size: 18px;
}

.login .area .qa article .q {
  color: #a03319;
}

.login .area .qa article .a {
  color: #000090;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.wrapper header {
  width: 100%;
  height: 50px;
  background: #3b5fb2;
  color: #FFF;
  font-size: 1.2em;
  text-align: center;
  line-height: 50px;
}

.wrapper .step {
  background: #FFF;
  text-align: center;
}

.wrapper .step .word {
  font-size: 1.4em;
  color: #3b5fb2;
}

.wrapper .step .back {
  position: absolute;
  margin-left: 10px;
  font-size: 2em;
  cursor: pointer;
}

.wrapper .step .cards .card {
  margin: 10px 0;
  border: 1px solid #dbdbdb;
}

.wrapper .step .cards .card .title {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #3f76e2;
  color: #FFF;
}

.wrapper .step .cards .card .message {
  text-align: left;
  padding: 10px;
  color: #007c3e;
  line-height: 1.5em;
  max-height: 150px;
  overflow: hidden;
  position: relative;
  transition: all .2s;
}

.wrapper .step .cards .card .message:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 30px;
  left: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
}

.wrapper .step .cards .card .message.visible {
  max-height: 3000px;
}

.wrapper .step .cards .card .message.visible:after {
  display: none;
}

.wrapper .step .cards .card .action {
  border-top: 1px solid #dbdbdb;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #929393;
}

.wrapper .step .cards .card .action div {
  flex-grow: 1;
  height: 100%;
}

.wrapper .step .cards .card .action div:hover {
  text-decoration: underline;
  color: #56b3ff;
}

.wrapper .step .cards .card .action div:before {
  content: '';
  display: inline-block;
  height: 14px;
  margin: 0 6px -3px 0;
  width: 14px;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  background-size: auto;
}

.wrapper .step .cards .card .action .reactions:before {
  background-position: -15px -93px;
}

.wrapper .step .cards .card .action .comments:before {
  background-position: 0 -93px;
}

.wrapper .step .cards .card .action .sharedposts:before {
  background-position: -15px -108px;
}

.wrapper .step1 {
  padding: 10px;
}

.wrapper .step1 select {
  width: 80%;
  margin: 20px 0;
}

.wrapper .step2 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  transform: translateY(100vh);
  transition: all .3s;
  left: 0;
  top: 0;
  background: #FFF;
}

.wrapper .step2.visible {
  transform: translateY(0);
}

.wrapper .step2 .head {
  width: 100vw;
  height: 50px;
  background: #3b5fb2;
  color: #FFF;
  font-size: 1.2em;
  text-align: center;
  line-height: 50px;
}

.wrapper .step2 .cards {
  height: 90vh;
  overflow: auto;
  padding: 10px;
}

.wrapper .step3 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  transform: translateY(100vh);
  transition: all .3s;
  left: 0;
  top: 0;
  background: #FFF;
}

.wrapper .step3.visible {
  transform: translateY(0);
}

.wrapper .step3 .wrapper {
  height: 100vh;
  overflow: auto;
}

.wrapper .step3 .wrapper .uipanel {
  width: 100%;
  padding: 10px 40px 10px 10px;
  background: #3b5fb2;
  color: #FFF;
  text-align: left;
}

.wrapper .step3 .wrapper .uipanel .choose {
  position: absolute;
  top: 13px;
  right: 13px;
  padding: 7px 15px;
  background: #307a0b;
  color: #FFF;
}

.wrapper .step3 .wrapper .uipanel .ui {
  display: inline-block;
  margin: 5px;
}

.wrapper .step3 .wrapper .uipanel .total {
  width: 100%;
  text-align: center;
}

.wrapper .step3 .wrapper .uipanel .total input {
  width: 30px;
  margin: 0 5px;
  text-align: center;
}

.wrapper .step3 .wrapper .uipanel .search input {
  width: 100px;
  padding-left: 5px;
}

.wrapper .step3 .wrapper .uipanel .optionFilter .tag {
  margin-right: 10px;
}

.wrapper .step3 .wrapper #comment_table {
  margin-top: 15px;
  padding-bottom: 20px;
}

.wrapper .step3 .wrapper #comment_table table {
  width: 100% !important;
}

.wrapper .step3 .wrapper #comment_table table td {
  text-align: center;
  vertical-align: middle;
}

.wrapper .step3 .wrapper #comment_table table td.force-break {
  text-align: left;
}

.wrapper .step3 .wrapper #comment_table table td.nowrap {
  white-space: nowrap;
}

.wrapper .step3 .wrapper #comment_table #awardList {
  display: none;
}

.wrapper .step3 .wrapper #comment_table #awardList > p {
  font-size: 2em;
  font-weight: bold;
  color: #3b5fb2;
}

.wrapper .step3 .wrapper #comment_table #awardList table td.prizeName {
  background: #3b5fb2;
  color: #FFF;
  padding-left: 20px;
}

.wrapper .step3 .wrapper #comment_table #awardList table td.prizeName span {
  color: #13FDFF;
  margin-left: 30px;
}

.force-break {
  word-break: break-all;
}

.force-break a {
  color: #D68927 !important;
}

.dataTables_filter {
  display: none;
}

.payArea .title {
  font-size: 2em;
  text-align: center;
  color: #00F;
  margin: 30px 0;
}

.payArea .paragrah {
  text-align: center;
  font-size: 1.5em;
  margin: 20px 0;
  color: #F00;
}

.payArea .lists {
  width: 600px;
  background: #FFF;
  padding: 30px 15px;
  margin: 20px auto;
  counter-reset: list;
}

.payArea .lists .list {
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 15px 0 15px 25px;
}

.payArea .lists .list:before {
  counter-increment: list;
  content: counter(list) ". ";
  position: absolute;
  margin-left: -20px;
}

.payArea .check {
  width: 600px;
  margin: 20px auto;
  background: #FFF;
  display: block;
  padding: 15px;
  text-align: center;
  font-size: 1.5em;
}

.payArea .check input {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  transform: translateY(100vh);
  transition: all .3s;
}

.loading.visible {
  transform: translateY(0);
}

.console {
  width: 100vw;
  height: 100vh;
  background: url(../images/ci.png) #FFF center 30px no-repeat;
  position: relative;
  padding: 20px;
}

.console .message {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-top: 375px;
}

.console .error {
  position: absolute;
  width: 90%;
  bottom: 20px;
  font-size: 16px;
  color: #B74D00;
  display: none;
}

.console .btn.auth {
  width: 200px;
  margin-left: 290px;
  margin-top: 35px;
}

.chrome {
  display: none;
}

.sk-folding-cube {
  width: 40px;
  height: 40px;
  left: 50%;
  margin-left: -20px;
  top: 310px;
  position: absolute;
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3b5fb2;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
  animation-delay: 0.9s;
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
