@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html, body {
  font-size: 14px;
  font-family: "微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", Verdana, Helvetica, sans-serif;
}

body {
  background: #dbdbdb;
  overflow-x: hidden;
}

.hide {
  display: none;
}

table td.center {
  text-align: center;
}
table td span.react {
  display: inline-block;
  vertical-align: middle;
  transform: scale(0.5);
  width: 48px;
  height: 48px;
}
table td span.react.LIKE {
  background-position: 0 -147px;
  background-image: url(../images/reaction.png);
  background-repeat: no-repeat;
  background-size: auto;
}
table td span.react.LOVE {
  background-position: 0 -196px;
  background-image: url(../images/reaction.png);
  background-repeat: no-repeat;
  background-size: auto;
}
table td span.react.HAHA {
  background-position: 0 -98px;
  background-image: url(../images/reaction.png);
  background-repeat: no-repeat;
  background-size: auto;
}
table td span.react.WOW {
  background-position: 0 -294px;
  background-image: url(../images/reaction.png);
  background-repeat: no-repeat;
  background-size: auto;
}
table td span.react.SAD {
  background-position: 0 -245px;
  background-image: url(../images/reaction.png);
  background-repeat: no-repeat;
  background-size: auto;
}
table td span.react.ANGRY {
  background-position: 0 0;
  background-image: url(../images/reaction.png);
  background-repeat: no-repeat;
  background-size: auto;
}
table td span.react.THANKFUL {
  background-position: 0 -49px;
  background-image: url(../images/reaction.png);
  background-repeat: no-repeat;
  background-size: auto;
}

.wrapper {
  width: 1300px;
  margin: 0 auto;
}
.wrapper header {
  width: 100%;
  height: 95px;
  background: #3b5fb2;
  color: #FFF;
  font-size: 50px;
  padding-left: 50px;
  line-height: 95px;
  position: relative;
}
.wrapper header a {
  color: #FFF;
}
.wrapper header .dev {
  display: inline-block;
  vertical-align: middle;
  margin-top: -7px;
}
.wrapper header .dev input {
  height: 30px;
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: initial;
}
.wrapper header .dev button {
  width: 100px;
  height: 30px;
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  font-size: initial;
}
.wrapper header .readme {
  width: 135px;
  height: 100%;
  position: absolute;
  background: #44b1da;
  top: 0;
  right: 0;
  font-size: 20px;
  text-align: center;
  line-height: 1.5em;
  padding-top: 15px;
}
.wrapper header .readme:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 8px;
  border-color: transparent transparent transparent #ffffff;
  margin-left: 10px;
  margin-top: -10px;
}
.wrapper .main_area {
  padding: 20px 0;
  margin-bottom: 26px;
  background: #FFF;
}
.wrapper .main_area .left {
  width: 30%;
  float: left;
}
.wrapper .main_area .inputarea {
  padding-left: 45px;
}
.wrapper .main_area .inputarea #import {
  margin-left: 20px;
}
.wrapper .main_area .inputarea #import:-ms-input-placeholder {
  color: #ddd;
}
.wrapper .main_area .inputarea #import::placeholder {
  color: #ddd;
}
.wrapper .main_area .inputarea .source .url {
  width: 100%;
  padding-left: 15px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
}
.wrapper .main_area .inputarea #pure_fbid {
  margin-right: 10px;
}
.wrapper .main_area .inputarea #fbid_button {
  background: #39c585;
}
.wrapper .main_area .inputarea .btn {
  min-width: 110px;
  text-align: center;
  margin-right: 5px;
  border-radius: 3px;
  color: #FFF;
  font-size: 16px;
  background: #44b1da;
  vertical-align: middle;
  margin-right: 10px;
  border: none;
  margin-bottom: 10px;
}
.wrapper .main_area .inputarea .page_btn {
  text-align: center;
  padding: 5px 10px;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  border-radius: 3px;
  font-size: 16px;
  background: #FFF;
  border: 1px solid #44b1da;
  color: #44b1da;
  cursor: pointer;
  line-height: 1.5em;
  margin: 10px 10px 10px 0;
}
.wrapper .main_area .inputarea .page_btn:hover, .wrapper .main_area .inputarea .page_btn.active {
  color: #FFF;
  background: #44b1da;
}
.wrapper .main_area .inputarea .message {
  margin: 20px 0;
  font-size: 1.1em;
  line-height: 1.5em;
}
.wrapper .main_area .inputarea .payRead {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
}
.wrapper .main_area .inputarea #btn_pay {
  width: 90px;
  font-size: 12px;
}
.wrapper .main_area .inputarea .identity {
  display: inline-block;
  vertical-align: middle;
}
.wrapper .main_area .inputarea .identity img {
  vertical-align: middle;
  margin-right: 5px;
  width: 30px;
  height: 30px;
}
.wrapper .main_area .inputarea .identity span {
  color: #3b5fb2;
}
.wrapper .main_area:after {
  content: "";
  display: block;
  clear: both;
}
.wrapper .section {
  position: relative;
}
.wrapper .section.step2 .step1 {
  transform: translateX(-150%);
}
.wrapper .section.step2 .step2 {
  transform: translateX(0);
}
.wrapper .section .forfb {
  width: 100%;
  background: #FFF;
}
.wrapper .section .forfb .read {
  border: 2px solid #666;
  padding: 10px 15px;
  margin: 15px;
  display: inline-block;
  vertical-align: top;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #F00;
  max-width: 100%;
}
.wrapper .section .forfb .read img {
  margin-top: 10px;
  width: 100%;
}
.wrapper .section .step {
  width: 100%;
  position: absolute;
}
.wrapper .section .step1 {
  z-index: 50;
  transition: all 0.3s ease-in-out;
}
.wrapper .section .step1 .donate_area {
  width: 100%;
  min-height: 120px;
  background: #FFF;
  padding: 28px 35px;
  position: relative;
  margin-bottom: 50px;
}
.wrapper .section .step1 .donate_area .title {
  font-size: 1.85em;
  font-weight: bold;
  color: #3b5fb2;
  border-bottom: 1px solid #3b5fb2;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.wrapper .section .step1 .donate_area .right > .title {
  font-size: 1.85em;
  font-weight: bold;
  color: #3b5fb2;
}
.wrapper .section .step1 .donate_area .right .recommands {
  display: flex;
  flex-wrap: wrap;
}
.wrapper .section .step1 .donate_area .right .recommands .card {
  margin: 20px 17px;
  border: 1px solid #CCC;
  width: 300px;
  height: 450px;
  overflow: hidden;
  position: relative;
}
.wrapper .section .step1 .donate_area .right .recommands .card .card-content {
  border-top: 1px solid #CCC;
  padding: 20px;
}
.wrapper .section .step1 .donate_area .right .recommands .card .card-content .content {
  word-break: break-all;
  line-height: 1.5em;
  font-size: 0.9em;
}
.wrapper .section .step1 .donate_area .right .recommands .card .card-content .content small {
  display: block;
  margin-top: 20px;
}
.wrapper .section .step1 .donate_area .right .recommands .card .card-image {
  overflow: hidden;
  width: 300px;
  height: 225px;
}
.wrapper .section .step1 .donate_area .right .recommands .card .card-image img {
  width: 100%;
  height: auto;
}
.wrapper .section .step1 .donate_area .right .recommands .card .pick {
  position: absolute;
  width: 100%;
  height: 30px;
  background: #3b5fb2;
  color: #FFF;
  line-height: 30px;
  text-align: center;
  bottom: 0;
  cursor: pointer;
}
.wrapper .section .step1 .donate_area .right .recommands .card .pick:hover {
  background: #1c5052;
}
.wrapper .section .step1 .feeds {
  width: 100%;
  background: #FFF;
  padding: 28px 35px;
  position: relative;
  margin-bottom: 50px;
  text-align: center;
}
.wrapper .section .step1 .feeds table {
  width: 100% !important;
}
.wrapper .section .step1 .feeds table th {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  border: 1px solid #CCC;
}
.wrapper .section .step1 .feeds table td {
  vertical-align: middle;
  padding: 10px;
  border: 1px solid #CCC;
  line-height: 1.5em;
}
.wrapper .section .step1 .feeds table td.force-break {
  text-align: left;
}
.wrapper .section .step1 .feeds table td.nowrap {
  white-space: nowrap;
}
.wrapper .section .step1 .feeds table td .pick {
  width: 70px;
  height: 30px;
  background: #3b5fb2;
  color: #FFF;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
}
.wrapper .section .step1 .feeds table td .pick:hover {
  background: #1c5052;
}
.wrapper .section .step1 .feeds .btn {
  background: #3b5fb2;
  color: #FFF;
  margin-top: 20px;
}
.wrapper .section .step2 {
  z-index: 40;
  transform: translateX(100vw);
  transition: all 0.3s ease-in-out;
}
.wrapper .section .step2 .result_area {
  width: 100%;
  min-height: 450px;
  background: #FFF;
  padding: 28px 45px;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 50px;
}
.wrapper .section .step2 .result_area .title {
  font-size: 1.85em;
  font-weight: bold;
  color: #3b5fb2;
}
.wrapper .section .step2 .result_area .title span {
  font-size: 15px;
  margin-left: 20px;
  color: #DDD;
  font-weight: normal;
}
.wrapper .section .step2 .result_area #moreprize {
  margin-top: 17px;
  color: #666;
  transition: all 0.3s;
}
.wrapper .section .step2 .result_area #moreprize.active {
  background: #3b5fb2;
  color: #FFF;
}
.wrapper .section .step2 .result_area #moreprize:hover {
  border: 1px solid #3b5fb2;
}
.wrapper .section .step2 .result_area #endTime {
  color: #666;
  transition: all 0.3s;
}
.wrapper .section .step2 .result_area #endTime.active {
  background: transparent;
  box-shadow: none;
  color: #000;
}
.wrapper .section .step2 .result_area #endTime.active + input {
  transform: scaleX(1);
}
.wrapper .section .step2 .result_area #endTime:hover {
  border: 1px solid #3b5fb2;
}
.wrapper .section .step2 .result_area #endTime + input {
  transition: all 0.3s;
  transform: scaleX(0);
  transform-origin: left;
}
.wrapper .section .step2 .result_area .limitTime {
  display: inline-block;
  margin-left: 30px;
  vertical-align: bottom;
}
.wrapper .section .step2 .result_area .limitTime input {
  height: 32px;
  padding-left: 10px;
  font-size: 0.9em;
  width: 135px;
}
.wrapper .section .step2 .result_area label.unique {
  display: inline-block;
  vertical-align: middle;
  margin-top: 9px;
  margin-left: 10px;
}
.wrapper .section .step2 .result_area .uipanel {
  position: absolute;
  right: 45px;
  top: 28px;
  font-weight: bold;
  text-align: right;
}
.wrapper .section .step2 .result_area .uipanel input[type=text] {
  width: 130px;
  margin-left: 10px;
  height: 32px;
  font-size: 14px;
  line-height: 32px;
  padding-left: 10px;
}
.wrapper .section .step2 .result_area .uipanel select {
  width: 136px;
  height: 32px;
  font-size: 14px;
  line-height: 32px;
  padding-left: 10px;
}
.wrapper .section .step2 .result_area .uipanel #howmany {
  width: 78px;
  margin: 10px 5px;
  padding-left: 5px;
}
.wrapper .section .step2 .result_area .uipanel .gettotal {
  display: inline-block;
  transition: all 0.3s;
}
.wrapper .section .step2 .result_area .uipanel .gettotal.fadeout {
  transform: scaleX(0.01);
  transform-origin: right;
  opacity: 0;
  visibility: hidden;
}
.wrapper .section .step2 .result_area .uipanel .btn {
  min-width: 110px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  padding: 0;
  margin-right: 5px;
  border-radius: 3px;
  color: #FFF;
  font-size: 16px;
  background: #44b1da;
  vertical-align: middle;
  margin-top: -8px;
  margin-left: 10px;
}
.wrapper .section .step2 .result_area .prizeDetail {
  width: 100%;
  min-height: 50px;
  border: 1px solid #3b5fb2;
  margin-top: 20px;
  padding: 20px;
  position: relative;
  transition: all 0.3s;
  transform: scaleX(0.01);
  transform-origin: center 0;
  opacity: 0;
  visibility: hidden;
  display: none;
}
.wrapper .section .step2 .result_area .prizeDetail.fadein {
  opacity: 1;
  visibility: visible;
  display: block;
  transform: scaleY(1);
}
.wrapper .section .step2 .result_area .prizeDetail #btn_addPrize {
  display: block;
  background: #44b1da;
  color: #FFF;
  margin-bottom: 20px;
}
.wrapper .section .step2 .result_area .prizeDetail .prize {
  margin: 20px 19px;
  float: left;
  border: 1px solid #3b5fb2;
  padding: 0 20px;
}
.wrapper .section .step2 .result_area .prizeDetail .prize .input_group {
  margin: 15px 0;
}
.wrapper .section .step2 .result_area .prizeDetail .prize .input_group input[type=text] {
  width: 150px;
}
.wrapper .section .step2 .result_area .prizeDetail .prize .input_group input[type=number] {
  width: 122px;
}
.wrapper .section .step2 .result_area .prizeDetail:after {
  content: "";
  display: block;
  clear: both;
}
.wrapper .section .step2 .result_area #comment_table {
  margin-top: 40px;
}
.wrapper .section .step2 .result_area #comment_table table {
  width: 100% !important;
}
.wrapper .section .step2 .result_area #comment_table table td {
  text-align: center;
  vertical-align: middle;
}
.wrapper .section .step2 .result_area #comment_table table td.force-break {
  text-align: left;
}
.wrapper .section .step2 .result_area #comment_table table td.nowrap {
  white-space: nowrap;
}
.wrapper .section .step2 .result_area #comment_table .tabs {
  text-align: center;
}
.wrapper .section .step2 .result_area #comment_table .tabs .tab {
  width: auto;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #44b1da;
  color: #44b1da;
  text-align: center;
  display: inline-block;
  margin: 5px 10px;
  cursor: pointer;
}
.wrapper .section .step2 .result_area #comment_table .tabs .tab.active, .wrapper .section .step2 .result_area #comment_table .tabs .tab:hover {
  background: #44b1da;
  color: #FFF;
}
.wrapper .section .step2 .result_area #comment_table .filters {
  margin: 10px 0;
}
.wrapper .section .step2 .result_area #comment_table .filters label {
  cursor: pointer;
}
.wrapper .section .step2 .result_area #comment_table .filters label.picture {
  margin-left: 15px;
}
.wrapper .section .step2 .result_area #comment_table #awardList {
  display: none;
}
.wrapper .section .step2 .result_area #comment_table #awardList > p {
  font-size: 2em;
  font-weight: bold;
  color: #3b5fb2;
}
.wrapper .section .step2 .result_area #comment_table #awardList table td.prizeName {
  background: #3b5fb2;
  color: #FFF;
  padding-left: 20px;
}
.wrapper .section .step2 .result_area #comment_table #awardList table td.prizeName span {
  color: #13FDFF;
  margin-left: 30px;
}
.wrapper .section .step2 .result_area #comment_table .tables > div {
  display: none;
}
.wrapper .section .step2 .result_area #comment_table .tables > div.active {
  display: block;
}
.wrapper .section .step2 .result_area #comment_table .tables .comments .tag {
  margin-right: 10px;
}

.goPay {
  width: 270px;
  height: 80px;
  display: block;
  border: 1px solid #3b5fb2;
  border-top: 15px solid #3b5fb2;
  background: #fff url(../images/ci.png) 10px top no-repeat;
  background-size: contain;
  font-size: 28px;
  line-height: 65px;
  padding-left: 100px;
  margin: 30px auto;
  color: #3b5fb2;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
.goPay:hover {
  color: #44B1DA;
  border-color: #44B1DA;
  text-decoration: none;
}

.force-break {
  word-break: break-all;
}

.force-break a {
  color: #D68927 !important;
}

.dataTables_filter {
  display: none;
}

.payArea .title {
  font-size: 2em;
  text-align: center;
  color: #00F;
  margin: 30px 0;
}
.payArea .paragrah {
  text-align: center;
  font-size: 1.5em;
  margin: 20px 0;
  color: #F00;
}
.payArea .lists {
  width: 600px;
  background: #FFF;
  padding: 30px 15px;
  margin: 20px auto;
  counter-reset: list;
}
.payArea .lists .list {
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 15px 0 15px 25px;
}
.payArea .lists .list:before {
  counter-increment: list;
  content: counter(list) ". ";
  position: absolute;
  margin-left: -20px;
}
.payArea .check {
  width: 600px;
  margin: 20px auto;
  background: #FFF;
  display: block;
  padding: 15px;
  text-align: center;
  font-size: 1.5em;
}
.payArea .check input {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

.bigExcel {
  position: relative;
}
.bigExcel .title {
  position: absolute;
  left: 300px;
  top: 30px;
  background: #FFF;
  width: 150px;
  height: 40px;
  font-size: 1.8em;
  padding-left: 40px;
}
.bigExcel .steps {
  position: absolute;
  left: 300px;
  top: 80px;
}
.bigExcel .steps .step2 p {
  line-height: 1.5em;
  margin-top: 10px;
  padding-right: 20px;
}
.bigExcel .steps .step3 {
  margin-top: 10px;
}
.bigExcel .steps .step3 p {
  line-height: 2em;
}
.bigExcel .steps .copyed {
  display: inline-block;
  padding: 6px 8px;
  vertical-align: middle;
  background: #000;
  color: #CCC;
  margin-left: 5px;
  font-size: 12px;
  opacity: 0;
  transition: all 0.3s;
}
.bigExcel .steps .copyed.show {
  display: inline-block !important;
  opacity: 1;
}
.bigExcel .steps textarea {
  margin: 10px 0;
  resize: none;
}

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

.console {
  width: 540px;
  height: 350px;
  background: url(../images/progress.jpg);
  margin: 105px auto;
  position: relative;
}
.console .close {
  cursor: pointer;
  font-size: 3em;
  position: absolute;
  right: 0.5em;
  top: 10px;
}
.console.superbig {
  background: #FFF;
  width: 1200px;
  height: 90vh;
  margin: 5vh auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}
.console.superbig p {
  color: #3b5fb2;
  font-size: 20px;
  padding: 0 10px 10px;
  border-bottom: 1px solid #3b5fb2;
  margin-top: 30px;
}
.console.superbig .left {
  width: 300px;
  flex-shrink: 0;
  border-right: 1px solid #000;
  height: 100%;
  overflow: auto;
}
.console.superbig .left .page_btn {
  font-size: 14px;
  padding: 10px 20px;
  line-height: 1.5em;
  cursor: pointer;
}
.console.superbig .left .page_btn:hover, .console.superbig .left .page_btn.active {
  background: #44b1da;
  color: #FFF;
}
.console.superbig .right {
  flex-grow: 1;
  overflow: auto;
  height: 100%;
  padding: 0 10px;
}
.console.superbig .right table {
  margin: 20px 0;
  width: 100%;
}
.console.superbig .right table thead {
  border-bottom: 1px solid #3b5fb2;
  color: #3b5fb2;
  font-size: 16px;
}
.console.superbig .right table thead th {
  height: 30px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.console.superbig .right table thead tr {
  border-bottom: 1px solid #000;
  background: #ffdbdb;
}
.console.superbig .right table thead tr td {
  vertical-align: middle;
  height: 40px;
  line-height: 1.5em;
  padding: 15px 10px;
  word-break: break-all;
}
.console.superbig .right table thead tr td button {
  width: 80px;
  border-right: 1px solid #000;
  color: #FFF;
  background: #44b1da;
  border: none;
  padding: 5px 0;
}
.console.superbig .right table thead tr td:first-child {
  border-right: 1px solid #000;
  text-align: center;
}
.console.superbig .right table thead tr td:last-child {
  white-space: nowrap;
  border-left: 1px solid #000;
  padding-left: 10px;
}
.console.superbig .right table tbody {
  font-size: 14px;
}
.console.superbig .right table tbody tr {
  border-bottom: 1px solid #000;
}
.console.superbig .right table tbody tr td {
  vertical-align: middle;
  height: 40px;
  line-height: 1.5em;
  padding: 15px 10px;
  word-break: break-all;
}
.console.superbig .right table tbody tr td button {
  width: 80px;
  border-right: 1px solid #000;
  color: #FFF;
  background: #44b1da;
  border: none;
  padding: 5px 0;
}
.console.superbig .right table tbody tr td:first-child {
  border-right: 1px solid #000;
}
.console.superbig .right table tbody tr td:last-child {
  white-space: nowrap;
  border-left: 1px solid #000;
  padding-left: 10px;
}
.console .message {
  position: absolute;
  font-size: 1.5em;
  font-weight: bold;
  left: 305px;
  top: 100px;
}
.console .error {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 16px;
  color: #B74D00;
  display: none;
}
.console .btn.auth {
  width: 200px;
  margin-left: 290px;
  margin-top: 35px;
}

.chrome {
  display: none;
}

.sk-folding-cube {
  width: 40px;
  height: 40px;
  right: 140px;
  bottom: 80px;
  position: absolute;
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3b5fb2;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
  animation-delay: 0.9s;
}
@keyframes sk-foldCubeAngle {
  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}