<!DOCTYPE html>
<html lang="zh_tw">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover maximum-scale=1.0; user-scalable=0;">
	<title>House Finder</title>
	<link rel="stylesheet" href="css/main.css">
</head>

<body>
	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '220103926033288',
				cookie     : true,
				xfbml      : true,
				version    : 'v6.0'
			});
		};
		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "https://connect.facebook.net/zh_TW/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<div id="app" class="unmounted">
		<div class="ci" :class="send_login ? 'mini':''">
			<img src="images/smart-house.png" alt="">
			<p>租屋小助手</p>
			<p class="lasttime" v-if="last_time">Last Update:<br>{{last_time}}</p>
		</div>
		<div class="fb-login-button" data-onlogin="app.login()" data-size="large" data-button-type="continue_with" data-layout="default"></div>
		<div class="have_data" v-if="!is_edit && send_login">
			<p class="condition" v-html="placeWord"></p>
			<button class="btn edit" v-if="have_data" @click="is_edit = true">修改條件</button>
			<button class="btn unsub" v-if="have_data" @click="unsub">取消通知</button>
		</div>
		<p class="ps"></p>
		<div class="datas" v-if="is_edit">
			<div class="input_group">
				<label for="">LINE通知權杖</label>
				<input type="password" v-model="token">
			</div>
			<a href="#" onclick="readme(event)">如何取得權杖?</a>
			<div class="input_group">
				<label for="">縣市</label>
				<select name="" id="" v-model="region">
					<option :value="region.region" v-for="region in location">{{region.name}}</option>
				</select>
			</div>
			<div class="input_group">
				<label for="">區域</label>
				<select name="" id="" v-model="section">
					<option value="0">選擇區域</option>
					<option :value="section.code" v-for="section in section_list">{{section.name}}</option>
				</select>
			</div>
			<div class="input_group">
				<label for="">預算最低</label>
				<input type="number" v-model="range_bottom">元
			</div>
			<div class="input_group">
				<label for="">預算最高</label>
				<input type="number" v-model="range_top">元
			</div>
			<div class="actions">
				<button class="btn send" @click="send">送出</button>
			</div>
		</div>
	</div>

	<div class="popup">
		<div class="close" onclick="readme()"></div>
		<div class="step">
			<p>1.用<span>電腦</span>開啟網址 <a href="https://notify-bot.line.me/zh_TW/" target="_blank">https://notify-bot.line.me/zh_TW/</a>，並點擊右上角<span>登入</span>。<br>(一定要用電腦開啟，手機版網頁無法發行權杖)</p>
			<div class="img">
				<img src="images/readme01.jpg" alt="">
			</div>
		</div>
		<div class="step">
			<p>2.登入後點擊右上角<span>你的名字</span>，再點選<span>個人頁面</span></p>
			<div class="img">
				<img src="images/readme02.jpg" alt="">
			</div>
		</div>
		<div class="step">
			<p>3.上方會顯示已連動的服務，點擊下面的<span>發行權杖</span></p>
			<div class="img">
				<img src="images/readme03.jpg" alt="">
			</div>
		</div>
		<div class="step">
			<p>4.第一個框填訊息來源的名稱，可以隨個人喜好輸入<br>
				第二個框選擇接收訊息的聊天室，建議點選<span>透過1對1聊天接收LINE Notify的通知</span><br>
				接著按下<span>發行</span>
			</p>
			<div class="img">
				<img src="images/readme04.jpg" alt="">
			</div>
		</div>
		<div class="step">
			<p>5.畫面中間就會出現一段英文與數字組合的權杖，把他複製起來即可。<br>
			(如果沒複製到的話請回到步驟3解除連動以後重新申請權杖)
			</p>
			<div class="img">
				<img src="images/readme05.jpg" alt="">
			</div>
		</div>
		<div class="step">
			<p>6.最後把複製好的權杖貼到<span>LINE通知權杖</span>的格子內，並完成其他欄位後按下送出即可</p>
			<div class="img">
				<img src="images/readme06.jpg" alt="">
			</div>
		</div>
		<button class="btn send" onclick="readme()">關閉說明</button>
	</div>
	

	<script src="js/jquery.min.js"></script>
	<script src="js/vue.min.js"></script>
	<script src="js/main.js"></script>

</body>

</html>