@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
}

html, body {
	font-family: "微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU", Verdana, Helvetica, sans-serif;
	background-color: #dbdbdb !important;
}
@layer components{
	.btn {
		@apply py-2 px-4;
		@apply rounded-none;
	}
	.btn-free-height {
		@apply px-4;
	}
	.btn-blue {
		@apply bg-blue-500 text-white border-blue-500;
	}
	.btn-blue:hover {
		@apply bg-blue-700 border-blue-700;
	}
}

.loading-modal{
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.sk-folding-cube {
	width: 40px;
	height: 40px;
	right: 140px;
	bottom: 130px;
	position: absolute;
	transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #3b5fb2;
	animation: sk-foldCubeAngle 2.4s infinite linear both;
	transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
	transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
	transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
	transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
	animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
	animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
	animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
	0%, 10% {
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	} 25%, 75% {
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	} 90%, 100% {
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}

@keyframes sk-foldCubeAngle {
	0%, 10% {
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	} 25%, 75% {
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	} 90%, 100% {
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}