@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 14px;
  font-family: "微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", Verdana, Helvetica, sans-serif;
  overflow: initial !important;
}

* {
  box-sizing: border-box;
}

*:not(input) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hide {
  display: none !important;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 500px;
  width: 800px;
  margin-bottom: 1rem;
}

#app {
  width: 800px;
  height: 100%;
}

.message {
  font-size: 16px;
  margin-top: 15px;
}

input {
  border: 1px solid #1A1A1A;
  width: 85%;
  display: inline-block;
  color: #333 !important;
  padding: 8px 10px;
  vertical-align: middle;
}

button {
  font-family: "Gill Sans","Gill Sans MT",Calibri,sans-serif;
  font-size: 1.1em;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
  display: inline-block;
  vertical-align: middle;
  padding: 5px 20px;
  margin: 0;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0px;
  background-color: rgba(51, 86, 61, 0.73);
  color: #fff;
  transition: background-color 0.1s ease-in;
}

.blue {
  color: #6186c9;
}

.yellow {
  color: #ffe000;
}

.green {
  color: #aab2a7;
}
