@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 20px;
  font-family: "Noto Sans TC", "微軟正黑體", Arial, Helvetica, sans-serif !important;
  font-weight: 400;
  overscroll-behavior: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  overflow: hidden;
}
@media screen and (max-width: 1441px) {
  html,
body {
    font-size: 14px;
  }
}

body {
  scroll-behavior: smooth;
  color: #000;
  background: #000;
}

* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.flex.column {
  -ms-flex-direction: column;
      flex-direction: column;
}
.flex.center {
  -ms-flex-pack: center;
      justify-content: center;
}
.flex.space_around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.flex.flex_start {
  -ms-flex-pack: start;
      justify-content: flex-start;
}
.flex.flex_end {
  -ms-flex-pack: end;
      justify-content: flex-end;
}
.flex.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.flex.reverse {
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}
.flex.align_top {
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
}
.flex.align_end {
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -ms-flex-align: end;
      align-items: flex-end;
}

.wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
@media screen and (max-width: 1441px) {
  .wrapper {
    padding: 0 20px;
  }
}

.card {
  width: 275px;
  height: 313px;
  background: url(../images/card.png) center center no-repeat;
  margin: 100px auto;
  position: relative;
}
.card .paper {
  width: 180px;
  position: absolute;
  left: 50%;
  margin-left: -90px;
  background: #FFF;
  border: 1px solid #CCC;
  top: 0px;
  font-size: 10px;
  transform: scale(0.3);
}