@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 20px;
  font-family: "Noto Sans TC", "微軟正黑體", Arial, Helvetica, sans-serif !important;
  font-weight: 400;
  overscroll-behavior: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}
@media screen and (max-width: 1441px) {
  html,
body {
    font-size: 14px;
  }
}

body {
  scroll-behavior: smooth;
  color: #000;
  background: #000;
}

* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.flex.column {
  -ms-flex-direction: column;
      flex-direction: column;
}
.flex.center {
  -ms-flex-pack: center;
      justify-content: center;
}
.flex.space_around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.flex.flex_start {
  -ms-flex-pack: start;
      justify-content: flex-start;
}
.flex.flex_end {
  -ms-flex-pack: end;
      justify-content: flex-end;
}
.flex.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.flex.reverse {
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}
.flex.align_top {
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
}
.flex.align_end {
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -ms-flex-align: end;
      align-items: flex-end;
}

.wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
@media screen and (max-width: 1441px) {
  .wrapper {
    padding: 0 20px;
  }
}

body {
  background: url(../images/bg.jpg) #000 center bottom no-repeat;
  background-size: cover;
}
body.dev::before {
  display: block;
}
body::before {
  content: "css ver.01260913";
  color: #FFF;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  display: none;
}

.warning {
  position: fixed;
  width: 100%;
  bottom: -2px;
  left: 0;
  z-index: 10;
  transition: none;
}
.warning.hide {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.warning img {
  width: 100%;
}

.errorModal {
  width: 100vw;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: transparent;
  transition: all 0.3s;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.errorModal.show {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}
.errorModal .content {
  width: 9.49rem;
  margin: 0 auto;
  transform: translateY(-16%);
}
.errorModal .content img {
  width: 100%;
}

section {
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  left: 0;
  top: 0;
  z-index: 1;
  pointer-events: none;
  font-size: 20px;
  padding-bottom: 100px;
}
section.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
section .tip {
  font-size: 12px;
  line-height: 2em;
  letter-spacing: 4px;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  color: #FFF;
}
section .option {
  position: relative;
}
section .option.active::after {
  display: block;
}
section .option::before {
  content: "";
  width: 0.83rem;
  height: 0.83rem;
  background: url(../images/radiocheck.png) center center no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.9rem;
}
section .option::after {
  content: "";
  width: 0.83rem;
  height: 0.83rem;
  background: url(../images/radiobtn.png) center center no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
section .option .img {
  display: inline-block;
  vertical-align: middle;
}

.home {
  text-align: center;
  background: url(../images/bg_home.jpg) center top no-repeat;
  background-size: cover;
  position: relative;
}
.home.show2 .slogan {
  opacity: 0;
  visibility: hidden;
}
.home.show2 .stars {
  transform: translate(-50%, -60%);
}
.home.show2 .btn {
  opacity: 1;
  visibility: visible;
}
.home .slogan {
  font-size: 18px;
  color: #FFF;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  top: 68%;
  transition: all 1s;
}
.home .stars {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 70%;
  width: 6.38rem;
  height: 60px;
  background: url(../images/star.png) center center no-repeat;
  background-size: contain;
  transition: all 1.5s;
}
.home .ps {
  font-size: 10px;
  color: #FFF;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  bottom: 14%;
  text-align: left;
  line-height: 1.5em;
}
.home .btn {
  width: 6.6rem;
  height: 1.68rem;
  background: url(../images/btn_start.png) center center no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  top: 72.5%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: all 1s 1.5s;
}

.q1 {
  padding-top: 1rem;
  background: url(../images/bg.jpg) center bottom no-repeat;
  background-size: cover;
}
.q1 .q {
  width: 9.3rem;
  margin: 0 0 1rem 1rem;
}
.q1 .q img {
  width: 100%;
}
.q1 .selects {
  width: 50%;
  margin: 0 auto;
}
.q1 .selects .option {
  margin-bottom: 1rem;
  color: #FFF;
}
.q1 .selects .option.active::before {
  background-image: url(../images/checkedbox.png);
}
.q1 .selects .option::before {
  content: "";
  width: 1em;
  height: 1em;
  background: url(../images/checkbox.png) center center no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 0.5em;
}
.q1 .star {
  width: 6.45rem;
  margin: 1.5rem auto 1rem;
}
.q1 .star img {
  width: 100%;
}
.q1 .btn {
  width: 5.2rem;
  margin: 0 auto;
}
.q1 .btn img {
  width: 100%;
}

.q2 {
  padding-top: 1rem;
  background: url(../images/q1_bg.jpg) center bottom no-repeat;
  background-size: cover;
}
.q2 .q {
  width: 8.42rem;
  margin: 0 0 1rem 1rem;
}
.q2 .q img {
  width: 100%;
}
.q2 .selects {
  width: 60%;
  margin: 0 auto;
}
.q2 .selects .option {
  margin-bottom: 1rem;
  color: #FFF;
}
.q2 .selects .option.active::before {
  background-image: url(../images/checkedbox.png);
}
.q2 .selects .option::before {
  content: "";
  width: 1em;
  height: 1em;
  background: url(../images/checkbox.png) center center no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 0.5em;
}
.q2 .star {
  width: 6.45rem;
  margin: 1.5rem auto 1rem;
}
.q2 .star img {
  width: 100%;
}
.q2 .btn {
  width: 5.2rem;
  margin: 0 auto;
}
.q2 .btn img {
  width: 100%;
}

.q3 {
  padding-top: 1rem;
  background: url(../images/q1_bg.jpg) center bottom no-repeat;
  background-size: cover;
}
.q3 .q {
  width: 8.92rem;
  margin: 0 0 1rem 1rem;
}
.q3 .q img {
  width: 100%;
}
.q3 .selects {
  width: 50%;
  margin: 0 auto;
}
.q3 .selects .option {
  margin-bottom: 1rem;
  color: #FFF;
}
.q3 .selects .option.active::before {
  background-image: url(../images/checkedbox.png);
}
.q3 .selects .option::before {
  content: "";
  width: 1em;
  height: 1em;
  background: url(../images/checkbox.png) center center no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 0.5em;
}
.q3 .star {
  width: 6.45rem;
  margin: 3.5rem auto 1rem;
}
.q3 .star img {
  width: 100%;
}
.q3 .btn {
  width: 5.2rem;
  margin: 0 auto;
}
.q3 .btn img {
  width: 100%;
}

.end {
  background: url(../images/gameover.jpg) center center no-repeat;
  background-size: cover;
}
.end .title {
  width: 6.73rem;
  margin-top: 2rem;
  margin-left: 1.1rem;
}
.end .title img {
  width: 100%;
}
.end .btn {
  width: 6.58rem;
  position: absolute;
  left: 50%;
  top: 72%;
  transform: translateX(-50%);
}
.end .btn img {
  width: 100%;
}

#alreadyPlayed {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000000;
  background: url(../images/forbiden.jpg) center center no-repeat;
  background-size: cover;
  display: none;
}
#alreadyPlayed.show {
  display: block;
}