@import "reset";

$blue: #3b5fb2;
$lightblue: #44b1da;

@mixin for-size($size) {
  @if $size == pad {
    @media (max-width: 800px) { @content; }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) { @content; }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
}

* {
	box-sizing:border-box;
}
html, body {
	font-size:14px;
	font-family:"微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU", Verdana, Helvetica, sans-serif;
}
body{
	background: #FFF;
}
h3{
	font-size: 20px;
	font-weight: bold;
	line-height: 2em;
}
table{
	td{
		&.center{
			text-align: center;
		}
		span.react{
			display: inline-block;
			vertical-align: middle;
			transform: scale(0.5);
			width: 48px;
			height: 48px;
			&.LIKE{
				background-position: 0 -147px;	
				background-image: url(../images/reaction.png);
				background-repeat: no-repeat;
				background-size: auto;
			}
			&.LOVE{
				background-position: 0 -196px;
				background-image: url(../images/reaction.png);
				background-repeat: no-repeat;
				background-size: auto;
			}
			&.HAHA{
				background-position: 0 -98px;
				background-image: url(../images/reaction.png);
				background-repeat: no-repeat;
				background-size: auto;
			}
			&.WOW{
				background-position: 0 -294px;
				background-image: url(../images/reaction.png);
				background-repeat: no-repeat;
				background-size: auto;
			}
			&.SAD{
				background-position: 0 -245px;
				background-image: url(../images/reaction.png);
				background-repeat: no-repeat;
				background-size: auto;
			}
			&.ANGRY{
				background-position: 0 0;
				background-image: url(../images/reaction.png);
				background-repeat: no-repeat;
				background-size: auto;
			}
			&.THANKFUL{
				background-position: 0 -49px;
				background-image: url(../images/reaction.png);
				background-repeat: no-repeat;
				background-size: auto;
			}
		}
	}
}
.login{
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	background: #ECEFF2;
	z-index: 100000;
	transition: all .3s;
	&.auth{
		width: 100%;
		height: auto;
		position: static;
	}
	&.success{
		transform: translateY(-100vh);
	}
	.logo{
		width: 150px;
		margin: 0 auto;
		padding: 20px 0;
		img{
			width: 100%;
		}
	}
	.area{
		width: 100%;
		// margin: 30px auto;
		text-align: center;
		@include for-size(pad){
			max-width: 320px;
		}
		.title{
			text-align: center;
			font-size: 1.5rem;
			font-weight: bold;
			line-height: 1.5em;
			color: #616182;
		}
		#btn_login{
			width: 320px;
			height: 60px;
			line-height: 60px;
			color: #FFF;
			font-size: 1.5rem;
			border: 1px solid #dbdbdb;
			border-radius: 5px;
			background: #4B68A3;
			text-align: center;
           	margin: 20px auto;
           	cursor: pointer;
           	transition: all .2s ease-out;
           	&:active{
           		transform: scale(0.95);
           	}
		}
		.readme{
			overflow: hidden;
			p{
				text-align: center;
				color: red;
				margin-bottom: 20px;
			}
		}
		.qa{
			width: 650px;
			margin: 10px auto;
			article{
				margin-top: 20px;
				a{
					color: #068e06;
				}
				p{
					text-align: left;
					line-height: 1.5em;
					font-size: 18px;
				}
				.q{
					color: #a03319;
				}
				.a{
					color: #000090;
				}
			}	
		}
	}
}
.wrapper{
	width: 100%;
	margin: 0 auto;
	position: relative;
	header{
		width: 100%;
		height: 50px;
		background: $blue;
		color: #FFF;
		font-size: 1.2em;
		text-align: center;
		line-height: 50px;
	}
	.step{
		background: #FFF;
		text-align: center;
		.word{
			font-size: 1.4em;
			color: $blue;
		}
		.back{
			position: absolute;
			margin-left: 10px;
			font-size: 2em;
			cursor: pointer;
		}
		.cards{
			.card{
				margin: 10px 0;
				border: 1px solid #dbdbdb;
				.title{
					width: 100%;
					height: 30px;
					line-height: 30px;
					text-align: center;
					background: #3f76e2;
					color: #FFF;
				}
				.message{
					text-align: left;
					padding: 10px;
					color: #007c3e;
					line-height: 1.5em;
					max-height: 150px;
					overflow: hidden;
					position: relative;
					transition: all .2s;
					&:after{
						content: '';
						position: absolute;
						width: 100%;
						height: 30px;
						left: 0;
						bottom: 0;
						background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); 
					}
					&.visible{
						max-height: 3000px;
						&:after{
							display: none;
						}
					}
				}
				.action{
					border-top: 1px solid #dbdbdb;
					display: flex;
					flex-wrap: nowrap;
					justify-content: space-between;
					align-content: stretch;
					align-items: center;
					height: 40px;
					line-height: 40px;
					text-align: center;
					color: #929393;
					div{
						flex-grow: 1;
						height: 100%;
						&:hover{
							text-decoration: underline;
							color: #56b3ff;

						}
						&:before{
							content: '';
							display: inline-block;
							height: 14px;
							margin: 0 6px -3px 0;
							width: 14px;
							background-image: url(../images/sprite.png);
							background-repeat: no-repeat;
							background-size: auto;
						}
					}
					.reactions{
						&:before{
							background-position: -15px -93px;
						}
					}
					.comments{
						&:before{
							background-position: 0 -93px;
						}
					}
					.sharedposts{
						&:before{
							background-position: -15px -108px;
						}
					}
				}
			}
		}
	}
	.step1{
		padding: 10px;
		select{
			width: 80%;
			margin: 20px 0;
		}
	}
	.step2{
		width: 100vw;
		height: 100vh;
		position: fixed;
		transform: translateY(100vh);
		transition: all .3s;
		left: 0;
		top: 0;
		background: #FFF;
		&.visible{
			transform: translateY(0);
		}
		.head{
			width: 100vw;
			height: 50px;
			background: $blue;
			color: #FFF;
			font-size: 1.2em;
			text-align: center;
			line-height: 50px;
		}
		.cards{
			height: 90vh;
			overflow: auto;
			padding: 10px;
		}
	}
	.step3{
		width: 100vw;
		height: 100vh;
		position: fixed;
		transform: translateY(100vh);
		transition: all .3s;
		left: 0;
		top: 0;
		background: #FFF;
		&.visible{
			transform: translateY(0);
		}
		.wrapper{
			height: 100vh;
			overflow: auto;
			.uipanel{
				width: 100%;
				padding: 10px 40px 10px 10px;
				background: $blue;
				color: #FFF;
				text-align: left;
				.choose{
					position: absolute;
					top: 13px;
					right: 13px;
					padding: 7px 15px;
					background: #307a0b;
					color: #FFF;
				}
				.ui{
					display: inline-block;
					margin: 5px;
				}
				.total{
					width: 100%;
					text-align: center;
					input{
						width: 30px;
						margin: 0 5px;
						text-align: center;
					}
				}
				.search{
					input{
						width: 100px;
						padding-left: 5px;
					}
				}
				.optionFilter{
					.tag{
						margin-right: 10px;
					}
				}
			}

			#comment_table{
				margin-top: 15px;
				padding-bottom: 20px;
				table{
					width: 100% !important;
					td{
						text-align: center;
						vertical-align: middle;
						&.force-break{
							text-align: left;
						}
						&.nowrap{
							white-space: nowrap;
						}
					}
				}
				#awardList{
					display: none;
					&>p{
						font-size: 2em;
						font-weight: bold;
						color: $blue;
					}
					table{
						td.prizeName{
							background: $blue;
							color: #FFF;
							padding-left: 20px;
							span{
								color: #13FDFF;
								margin-left: 30px;
							}
						}
					}
				}
			}
		}
	}
}

.force-break{
	word-break:break-all;
}
.force-break a{
	color: #D68927 !important;
}
.dataTables_filter{
	display: none;
}

.payArea{
	.title{
		font-size: 2em;
		text-align: center;
		color: #00F;
		margin: 30px 0;
	}
	.paragrah{
		text-align: center;
		font-size: 1.5em;
		margin: 20px 0;
		color: #F00;
	}
	.lists{
		width: 600px;
		background: #FFF;
		padding: 30px 15px;
		margin: 20px auto;
		counter-reset: list;
		.list{
			font-size: 1.2em;
			line-height: 1.5em;
			margin: 15px 0 15px 25px;
			&:before{
				counter-increment: list;
  				content: counter(list) ". ";
  				position: absolute;
  				margin-left: -20px;
			}
		}
	}
	.check{
		width: 600px;
		margin: 20px auto;
		background: #FFF;
		display: block;
		padding: 15px;
		text-align: center;
		font-size: 1.5em;
		input{
			width: 20px;
			height: 20px;
			vertical-align: middle;
			margin-right: 10px;
		}
	}
}


.loading{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  transform: translateY(100vh);
  transition: all .3s;
  &.visible{
	transform: translateY(0);
  }
}
.console{
  width: 100vw;
  height: 100vh;
  background: url(../images/ci.png) #FFF center 30px no-repeat;
  position: relative;
  padding: 20px;
  .message{
  	font-size: 1.5em;
  	font-weight: bold;
  	text-align: center;
  	margin-top: 375px;
  }
  .error{
  	position: absolute;
  	width: 90%;
  	bottom: 20px;
  	font-size: 16px;
  	color: #B74D00;
  	display: none;
  }
  .btn.auth{
  	width: 200px;
  	margin-left: 290px;
  	margin-top: 35px;
  }
}
.chrome{
	display: none;
}
.sk-folding-cube {
  width: 40px;
  height: 40px;
  left: 50%;
  margin-left: -20px;
  top: 310px;
  position: absolute;
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $blue;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
   transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
   transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
   transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
   animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
   animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
   animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}