@charset "UTF-8";
* {
  box-sizing: border-box;
}

html, body {
  font-size: 14px;
  font-family: "微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU", Verdana, Helvetica, sans-serif;
}

body {
  background: #dbdbdb;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

label {
  cursor: default;
  margin-left: 20px;
}

button {
  margin-right: 20px;
}

.hide {
  display: none;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}
.wrapper .section .result_area {
  display: block;
}
.wrapper .section .result_area .ui {
  margin-left: 17px;
}
.wrapper .section .result_area .ui button {
  vertical-align: middle;
}
.wrapper .section .result_area .ui .timeGroup {
  display: inline-block;
  vertical-align: middle;
}
.wrapper .section .result_area .ui .timeGroup input.time {
  font-size: 0.8em;
  padding-left: 10px;
  height: 32px;
  width: 130px;
}
.wrapper .section .result_area .ui .with, .wrapper .section .result_area .ui .place {
  vertical-align: middle;
}
.wrapper .section .result_area .ui .with select {
  max-width: 174px;
  vertical-align: middle;
}
.wrapper .section .result_area .ui .place select {
  max-width: 400px;
  vertical-align: middle;
}
.wrapper .section .result_area .ui input.search {
  font-size: 0.8em;
  padding-left: 10px;
  height: 32px;
  width: 300px;
  margin-left: 20px;
  vertical-align: middle;
}
.wrapper .section .result_area .ui .goSearch.noresult:after {
  content: '找不到文章';
  display: block;
  position: absolute;
  width: 100px;
  height: 40px;
  line-height: 40px;
  background: #fffac9;
  margin-top: -33px;
  margin-left: 48px;
  color: #f00;
}
.wrapper .section .result_area #feeds {
  display: flex;
  flex-wrap: wrap;
}
.wrapper .section .result_area #feeds .card {
  margin: 20px 17px;
}
.wrapper .section .result_area #feeds .card .card-content .content {
  word-break: break-all;
}
.wrapper .section .result_area #feeds .card .card-content .content small {
  display: block;
  margin-top: 20px;
}
.wrapper .section .result_area #feeds .card .card-image {
  overflow: hidden;
}
.wrapper .section .result_area #feeds .card .card-image img {
  height: auto;
}

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: all .3s ease-in-out;
}
.loading.hide {
  display: block;
  opacity: 0;
  visibility: hidden;
}
.loading .shareCard {
  width: 560px;
  height: 292px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -220px;
  margin-left: -280px;
  background: #FFF;
}
.loading .shareCard .header {
  height: 60px;
  line-height: 60px;
  background: #3B5998;
  padding-left: 20px;
  color: #FFF;
  font-size: 1.8em;
  margin-bottom: 26px;
  position: relative;
}
.loading .shareCard .header .close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 0;
  color: #FFF;
  cursor: pointer;
  font-family: 'Arial';
}
.loading .shareCard .picture {
  display: inline-block;
  vertical-align: top;
  margin: 0 23px;
  width: 150px;
  height: 180px;
}
.loading .shareCard .picture img {
  width: 100%;
}
.loading .shareCard .other {
  display: inline-block;
  vertical-align: top;
  font-size: 1.1em;
  line-height: 1.5em;
  max-width: 335px;
}
.loading .shareCard .goShare {
  position: absolute;
  bottom: 23px;
  right: 0;
}

.console {
  width: 540px;
  height: 350px;
  background: url(../images/progress.jpg);
  margin: 105px auto;
  position: relative;
}
.console .message {
  position: absolute;
  font-size: 1.5em;
  font-weight: bold;
  left: 305px;
  top: 100px;
}
.console .error {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 16px;
  color: #B74D00;
  display: none;
}

.sk-folding-cube {
  width: 40px;
  height: 40px;
  right: 140px;
  bottom: 80px;
  position: absolute;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3b5fb2;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@media (max-width: 1900px) {
  #feeds {
    justify-content: center;
  }
  #feeds .card {
    margin: 20px 0;
  }

  .wrapper .section .result_area .ui {
    text-align: center;
  }
  .wrapper .section .result_area .ui .timeGroup input.time {
    width: 85px;
  }
  .wrapper .section .result_area .ui .with select {
    max-width: 80px;
  }
  .wrapper .section .result_area .ui .place select {
    max-width: 120px;
  }
  .wrapper .section .result_area .ui .place, .wrapper .section .result_area .ui .with {
    margin-left: 10px;
  }
  .wrapper .section .result_area .ui input.search {
    width: 120px;
    margin-left: 10px;
  }
}
@media (max-width: 1200px) {
  .wrapper .section .result_area .ui {
    line-height: 3em;
  }
  .wrapper .section .result_area .ui .with {
    margin-bottom: 20px;
  }
  .wrapper .section .result_area .ui .with:after {
    content: '';
    display: block;
  }
}
@media (max-width: 768px) {
  .wrapper .section .result_area .ui {
    margin-left: auto;
  }
  .wrapper .section .result_area .ui .update {
    width: 80%;
    display: block;
    margin: 10px auto;
  }
  .wrapper .section .result_area .ui .timeGroup {
    width: 80%;
    display: block;
    margin: 10px auto;
  }
  .wrapper .section .result_area .ui .timeGroup input.time {
    width: 44%;
  }
  .wrapper .section .result_area .ui .with, .wrapper .section .result_area .ui .place {
    width: 80%;
    display: block;
    margin: 10px auto;
  }
  .wrapper .section .result_area .ui .with select, .wrapper .section .result_area .ui .place select {
    width: 50%;
    max-width: auto;
  }
  .wrapper .section .result_area .ui input.search {
    margin-left: 20px;
    width: 50%;
  }
  .wrapper .section .result_area .ui .stat {
    width: 80%;
    display: block;
    margin: 10px auto;
  }

  .loading .console {
    width: 100%;
    background: url(../images/progress.jpg) center center no-repeat;
    background-size: contain;
  }
  .loading .console .message {
    font-size: 0.9em;
    left: 160px;
    top: 130px;
  }
  .loading .console .sk-folding-cube {
    right: 80px;
    bottom: 120px;
  }

  .loading .shareCard {
    width: 100vw;
    height: 100vh;
    left: 0;
    margin-left: 0;
    top: 0;
    margin-top: 0;
  }
  .loading .shareCard .header {
    font-size: 1.2em;
  }
  .loading .shareCard .picture {
    display: block;
    margin: 20px auto;
  }
  .loading .shareCard .other {
    display: block;
    margin: 20px auto;
    width: 80%;
  }
  .loading .shareCard .other p {
    display: flex;
    justify-content: space-between;
    font-size: 1.1em;
    line-height: 1.5em;
  }
  .loading .shareCard .goShare {
    bottom: 50px;
  }
}
.dtp > .dtp-content {
  max-height: 470px;
}

.dtp div.dtp-picker-month {
  padding-bottom: 0 !important;
}

.dtp .dtp-buttons {
  padding: 0 0 1em;
  text-align: right;
  margin-top: -14px;
}
