<html>

<head>
	<title>group_comments</title>

	<link rel="stylesheet" href="css/new.css">


	<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.5/clipboard.min.js"></script>
	<script type="text/javascript" src="js/moment.min.js"></script>
	

	<script type="text/javascript">
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '160833824415744',
				cookie     : true,
				xfbml      : true,
				version    : 'v4.0'
			});
			
			//FB.AppEvents.logPageView();   
			
		};
		//2261878374068468
		//160833824415744
		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "https://connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));

		if (location.protocol == 'http:') location.href = location.href.replace('http:', 'https:');
	</script>

</head>

<body>
	<div class="input_area">
		<div class="wrapper">
			<!-- <input type="text" id="url" value="https://www.facebook.com/groups/commenthelper/permalink/1473332819422708/" placeholder="請輸入文章網址"> -->
			<input type="text" id="url" placeholder="請輸入文章網址">
			<button onclick="fb.getAuth('comments')">送出</button>
			<button onclick="showType()">一般顯示</button>
			<button onclick="showType('comments')">輸出留言</button>
			<button onclick="showType('replys')">輸出回復</button>
			<button class="copy_btn" data-clipboard-target=".comments_table">複製留言表格</button>
			<button class="copy_btn" data-clipboard-target=".replys_table">複製回覆表格</button>
		</div>
	</div>
	<div class="wrapper">
		<div class="post">
			<p class="time"></p>
			<p class="message"></p>
			<div class="img"></div>
		</div>
		<div id="vue_comments" class="comments">
			<div class="ui">
				<div class="keyword">
					<input type="text" placeholder="請輸入關鍵字" v-model="keyword">
				</div>
				<div class="time_filter">
					<input v-model="start_time" class="timepicker" type="text" placeholder="設定開始時間">
					<input v-model="end_time" class="timepicker" type="text" placeholder="設定結束時間">
				</div>
				<div class="filters">
					<label><input type="checkbox" v-model="hasPhoto">有貼照片的留言</label>
					<label><input type="checkbox" v-model="removeDuplicate">每人限一次中獎機會</label>
				</div>
				<div class="choose">
					抽出 <input type="number" v-model="winner"> 人
					<button @click="choose">抽獎</button>
				</div>
			</div>
			<div class="winner_list" v-if="winner_list.length > 0">
				<div class="comment" v-for="comment in winner_list">
					<p class="from">{{comment.from?comment.from.name:''}}</p>
					<a :href="'https://www.facebook.com/' + comment.id" target="_blank"><p class="time">{{moment(comment.created_time).format('YYYY-MM-DD HH:mm:ss')}}</p></a>
					<p class="message">{{comment.message}}</p>
					<div class="img" v-if="comment.attachment && comment.attachment.type =='photo'">
						<a :href="comment.attachment.media.image.src" target="_blank"><img :src="comment.attachment.media.image.src" height="300" alt=""></a>
					</div>
					<div class="feedback">
						<p class="like_count"><span class="react LIKE"></span>{{comment.like_count}}</p>
						<p>{{comment.comment_count}}則留言</p>
					</div>
				</div>
			</div>
			<div class="comment" v-if="showType == 'standard'" v-for="comment in filter_comment">
				<p class="from">{{comment.from.name}}</p>
				<a :href="'https://www.facebook.com/' + comment.id" target="_blank"><p class="time">{{moment(comment.created_time).format('YYYY-MM-DD HH:mm:ss')}}</p></a>
				<p class="message">{{comment.message}}</p>
				<div class="img" v-if="comment.attachment && comment.attachment.type =='photo'">
					<a :href="comment.attachment.media.image.src" target="_blank"><img :src="comment.attachment.media.image.src" height="300" alt=""></a>
				</div>
				<div class="feedback">
					<p class="like_count"><span class="react LIKE"></span>{{comment.like_count}}</p>
					<p>{{comment.comment_count}}則留言</p>
				</div>
				<div class="replys" v-if="comment.reply.length > 0">
					<div class="reply" v-for="reply in comment.reply">
						<p class="from">{{reply.from ? reply.from.name:''}}</p>
						<a :href="'https://www.facebook.com/' + reply.id" target="_blank"><p class="time">{{moment(comment.created_time).format('YYYY-MM-DD HH:mm:ss')}}</p></a>
						<p class="message">{{reply.message}}</p>
						<div class="img" v-if="reply.attachment && reply.attachment.type =='photo'">
							<a :href="reply.attachment.media.image.src" target="_blank"><img :src="reply.attachment.media.image.src" height="100" alt=""></a>
						</div>
						<p class="like_count"><span class="react LIKE"></span>{{reply.like_count}}</p>
					</div>
				</div>
			</div>
			<div class="comments_table" v-if="showType == 'comments'">
				<table v-if="winner_list.length > 0">
					<caption>得獎名單表格</caption>
					<thead>
						<tr>
							<td>留言編號</td>
							<td>留言人</td>
							<td>留言內容</td>
							<td>照片網址</td>
							<td>留言時間</td>
							<td>按讚數</td>
							<td>回覆數</td>
						</tr>
					</thead>
					<tbody>
						<tr v-for="c in winner_list">
							<td>{{c.comment_index}}</td>
							<td>{{c.from ? c.from.name:''}}</td>
							<td>{{c.message}}</td>
							<td v-text="c.attachment && c.attachment.type == 'photo' ? c.attachment.media.image.src:''"></td>
							<td>{{moment(c.created_time).format('YYYY-MM-DD HH:mm:ss')}}</td>
							<td>{{c.like_count}}</td>
							<td>{{c.comment_count}}</td>
						</tr>
					</tbody>
				</table>
				<table>
					<caption>留言表格</caption>
					<thead>
						<tr>
							<td>留言編號</td>
							<td>留言人</td>
							<td>留言內容</td>
							<td>照片網址</td>
							<td>留言時間</td>
							<td>按讚數</td>
							<td>回覆數</td>
						</tr>
					</thead>
					<tbody>
						<tr v-for="c in output.comments">
							<td>{{c.comment_index}}</td>
							<td>{{c.from ? c.from.name:''}}</td>
							<td>{{c.message}}</td>
							<td v-text="c.attachment && c.attachment.type == 'photo' ? c.attachment.media.image.src:''"></td>
							<td>{{moment(c.created_time).format('YYYY-MM-DD HH:mm:ss')}}</td>
							<td>{{c.like_count}}</td>
							<td>{{c.comment_count}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="replys_table" v-if="showType == 'replys'">
				<table>
					<thead>
						<tr>
							<td>回覆編號</td>
							<td>留言編號</td>
							<td>回覆人</td>
							<td>回覆內容</td>
							<td>照片網址</td>
							<td>回覆時間</td>
							<td>按讚數</td>
							<td>回覆數</td>
						</tr>
					</thead>
					<tbody>
						<tr v-for="c in output.replys">
							<td>{{c.reply_index}}</td>
							<td>{{c.comment_index}}</td>
							<td>{{c.from ? c.from.name:''}}</td>
							<td>{{c.message}}</td>
							<td v-text="c.attachment && c.attachment.type == 'photo' ? c.attachment.media.image.src:''"></td>
							<td>{{moment(c.created_time).format('YYYY-MM-DD HH:mm:ss')}}</td>
							<td>{{c.like_count}}</td>
							<td>{{c.comment_count}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div id="loading">
		<div class="content">
			<div class="animate">
				<div class="lds-css ng-scope"><div style="width:100%;height:100%" class="lds-wedges"><div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div></div></div>
			</div>
			<p class="message">擷取資料中... (<span>0</span>)</p>
			<p class="errorMess"></p>
		</div>
	</div>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<script type="text/javascript" src="js/vue.min.js"></script>
	<script type="text/javascript" src="js/clipboard.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>