<!DOCTYPE html>
<html lang="zh_tw">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover maximum-scale=1.0; user-scalable=0;">
	<title>my map</title>
	<link rel="stylesheet" href="css/main.css">
</head>

<body>
	<div id="app">
		<div id="map"></div>
		<div class="search">
			<input type="text" v-model="address" placeholder="請輸入寄送地址" @keyup.enter="search">
			<button @click="search">搜尋</button>
		</div>

		<div v-if="search_result">
			<p class="message" v-if="distance < distance_array[0]">
				從 <span class="green">小村子</span> 到 <span class="blue">{{ search_result }}</span> 距離 {{ distance }} 公里，運費 <span style="color:#F00">{{ distance_money(distance) }}</span> 元
			</p>
			<p class="message" v-else>
				<span style="color:#F00">超出運送範圍</span><br>
				從 <span class="green">小村子</span> 到 <span class="blue">{{ search_result }}</span> 距離 <span style="color:#F00">{{ distance }}</span> 公里<br>
				建議於限定時間內到店自取或自行請快遞來收花，距離較遠者，建議向您鄰近的花藝業者訂購。疫情期間，大家一起加油把移動範圍降低，也一起用行動支持台灣各地的花藝業者吧：）
			</p>
		</div>
	</div>
	

	<script src="js/vue.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBi3HU4qGpnvRXeAGj3m2k2sDLrZQ9ZmVA&libraries=places"></script>
	<script src="js/main.js"></script>

</body>

</html>